#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=off --ipv6=auto
network  --bootproto=dhcp --hostname=bogon
# Reboot after installation
reboot
# Root password
rootpw --iscrypted $6$oSeHfo1Am4NJ2iV6$uCCnpVqHn/oDkgkYImZoUSIyxIgFHIkrdupLhD.SBRdFT3abuJB20V2gdD1PW64tevRMooaDoXMBluN1GC5Cf/
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives=sda
part / --fstype ext3 --size=8192
part /boot --fstype ext3 --size=200
part swap --size=4096
part /opt --fstype ext3 --size=1 --grow --asprimary
#simplified license accept
eula --agreed

%post
chkconfig atd off
chkconfig avahi-daemon off
chkconfig bluetooth off
chkconfig cups off
chkconfig kdump off
mkdir /mnt/cdrom
mount /dev/cdrom /mnt/cdrom
cp /mnt/cdrom/source /root/source -R
cd /root/source
sh install.sh
%end

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@development
@dial-up
@dns-server
@file-server
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@kde-desktop
@multimedia
@network-file-system-client
@print-client
@x11
chrony
kexec-tools
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
